In [1]:
## Help your hedge fund manager!

#You have two datasets at your disposal: `Balance_Sheet.xlsx` and `Income_Statement.xlsx`. Both these datasets have three columns in common:
#- `"Company"`: The company's ticker name.
#- `"comp_type"` The type of industry the company in question belongs to. It is either `"tech"` for companies in the technology industry, `"fmcg"` for companies in the fast-moving consumer goods industry, and `"real_est"` for companies in the real estate industry. 
#- `"Year"`: The year the company's information is from.

#The rest of the columns in the datasets contain information from the financial statement of the `"Company"` in question. Note that the columns in `Balance_Sheet.xlsx` only contain financial information from the balance sheet. Similarly, the columns in `Income_Statement.xlsx` only contain financial information from the income statement. The columns are named accordingly. For instance, the column `"Total Liab"` from `Balance_Sheet.xlsx` is the total liability.

In [2]:
from pandas.core.computation.check import NUMEXPR_INSTALLED

/Users/raquelfontnavarri/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [6]:
pip install --upgrade numpy

SyntaxError: invalid syntax (<ipython-input-6-6225056f9bdf>, line 1)

In [7]:
pip install --upgrade openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 1.8 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: et-xmlfile in ./opt/anaconda3/lib/python3.8/site-packages (from openpyxl) (1.0.1)
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.0.4
    Uninstalling openpyxl-3.0.4:
      Successfully uninstalled openpyxl-3.0.4
Successfully installed openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np

/Users/raquelfontnavarri/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [7]:
balance = pd.read_excel('/Users/raquelfontnavarri/Desktop/Balance_Sheet.xlsx')
income = pd.read_excel('/Users/raquelfontnavarri/Desktop/Income_Statement.xlsx')

In [8]:
balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 60 non-null     int64
 1   Year                       60 non-null     int64
 2   comp_type                  60 non-null     object
 3   company                    60 non-null     object
 4   Accounts Payable           60 non-null     int64
 5   Cash                       60 non-null     int64
 6   Inventory                  44 non-null     float64
 7   Property Plant Equipment   60 non-null     int64
 8   Short Term Investments     37 non-null     float64
 9   Total Assets               60 non-null     int64
 10  Total Current Assets       60 non-null     int64
 11  Total Current Liabilities  60 non-null     int64
 12  Total Liab                 60 non-null     int64
 13  Total Stockholder Equity   60 non-null     int64
dtypes: float64(2), int64(10), object(2)
memory usage: 6.7+ KB

In [16]:
balance[balance.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Year, comp_type, company, Accounts Payable, Cash, Inventory, Property Plant Equipment, Short Term Investments, Total Assets, Total Current Assets, Total Current Liabilities, Total Liab, Total Stockholder Equity]
Index: []

In [18]:
balance.isnull().sum()

Unnamed: 0                    0
Year                          0
comp_type                     0
company                       0
Accounts Payable              0
Cash                          0
Inventory                    16
Property Plant Equipment      0
Short Term Investments       23
Total Assets                  0
Total Current Assets          0
Total Current Liabilities     0
Total Liab                    0
Total Stockholder Equity      0
dtype: int64

In [22]:
balance[balance['Inventory'].isnull()]

,Unnamed: 0,Year,comp_type,company,Accounts Payable,Cash,Inventory,Property Plant Equipment,Short Term Investments,Total Assets,Total Current Assets,Total Current Liabilities,Total Liab,Total Stockholder Equity
16,16,2018,tech,META,820000000,10019000000,NaN,24683000000,3.109500e+10,97334000000,50480000000,7017000000,13207000000,84127000000
17,17,2019,tech,META,1363000000,19079000000,NaN,44783000000,3.577600e+10,133376000000,66225000000,15053000000,32322000000,101054000000
18,18,2020,tech,META,1331000000,17576000000,NaN,54981000000,4.437800e+10,159316000000,75670000000,14981000000,31026000000,128290000000
19,19,2021,tech,META,4083000000,16601000000,NaN,69964000000,3.139700e+10,165987000000,66666000000,21135000000,41108000000,124879000000
24,24,2018,real_est,AMT,130800000,1208700000,NaN,11247100000,NaN,33010400000,2385100000,4689900000,26106000000,5336100000
25,25,2019,real_est,AMT,148100000,1501200000,NaN,19441800000,NaN,42801600000,2553800000,5487700000,36214700000,5055400000
26,26,2020,real_est,AMT,139100000,1746300000,NaN,20597900000,NaN,47233500000,2905600000,3655500000,42453000000,4093500000
27,27,2021,real_est,AMT,272400000,1949900000,NaN,29009100000,NaN,69887900000,3729400000,9067300000,60818300000,5081200000
28,28,2018,real_est,CCI,313000000,277000000,NaN,13653000000,NaN,32762000000,1229000000,1506000000,21191000000,11571000000
29,29,2019,real_est,CCI,334000000,196000000,NaN,20799000000,NaN,38457000000,1204000000,1920000000,27968000000,10489000000
30,30,2020,real_est,CCI,230000000,232000000,NaN,21626000000,NaN,38768000000,1104000000,1969000000,29307000000,9461000000
31,31,2021,real_est,CCI,246000000,292000000,NaN,21951000000,NaN,39040000000,1254000000,2026000000,30782000000,8258000000
32,32,2018,real_est,SPG,1250161000,514335000,NaN,24208131000,NaN,30686223000,1653813000,2869572000,26659104000,3253933000
33,33,2019,real_est,SPG,1345882000,669373000,NaN,24413379000,NaN,31231630000,1853306000,2990476000,28101319000,2483978000
34,34,2020,real_est,SPG,1283225000,1011613000,NaN,23671173000,NaN,34786846000,2573336000,3463740000,31128608000,2997381000
35,35,2021,real_est,SPG,1411603000,533936000,NaN,22815358000,NaN,33777379000,1850356000,5002560000,29376654000,3319689000

In [9]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                60 non-null     int64
 1   Year                      60 non-null     int64
 2   comp_type                 60 non-null     object
 3   company                   60 non-null     object
 4   Cost Of Goods Sold        60 non-null     int64
 5   Gross Profit              60 non-null     int64
 6   Operating Income          60 non-null     int64
 7   Total Operating Expenses  60 non-null     int64
 8   Total Revenue             60 non-null     int64
dtypes: int64(7), object(2)
memory usage: 4.3+ KB

In [19]:
income.isnull().sum()

Unnamed: 0                  0
Year                        0
comp_type                   0
company                     0
Cost Of Goods Sold          0
Gross Profit                0
Operating Income            0
Total Operating Expenses    0
Total Revenue               0
dtype: int64

In [17]:
income[income.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Year, comp_type, company, Cost Of Goods Sold, Gross Profit, Operating Income, Total Operating Expenses, Total Revenue]
Index: []

In [26]:
# debt-to-equity ratio :

ratios = pd.DataFrame()

ratios['leverage_ratio'] = balance['Total Liab']/balance['Total Stockholder Equity']

ratios.head(3)

   leverage_ratio
0        2.741004
1        3.957039
2        4.563512

In [27]:
#gross margin ratio : 

ratios['profitability_ratio'] = (income['Total Revenue']-income['Cost Of Goods Sold'])/income['Total Revenue']
ratios.head(3)

   leverage_ratio  profitability_ratio
0        2.741004             0.378178
1        3.957039             0.382332
2        4.563512             0.417794

In [33]:
ratios['comp_type'] = balance['comp_type']

In [36]:
ratios.head(3)

   leverage_ratio  profitability_ratio comp_type
0        2.741004             0.378178      tech
1        3.957039             0.382332      tech
2        4.563512             0.417794      tech

In [56]:
gb_ratios = ratios.groupby('comp_type')['profitability_ratio'].mean()

In [57]:
pd.DataFrame(gb_ratios).sort_values(by='profitability_ratio')

           profitability_ratio
comp_type
fmcg                  0.514396
real_est              0.534848
tech                  0.572062

In [58]:
gb_ratios_lev = ratios.groupby('comp_type')['leverage_ratio'].mean()

In [59]:
pd.DataFrame(gb_ratios_lev).sort_values(by='leverage_ratio')

           leverage_ratio
comp_type
tech             1.777448
fmcg             2.997896
real_est         5.692041

In [60]:
# corr :

num_ratios = ratios.select_dtypes(include=['number'])

In [61]:
num_ratios.corr()

                     leverage_ratio  profitability_ratio
leverage_ratio             1.000000             0.153936
profitability_ratio        0.153936             1.000000

In [62]:
gb_ratios_merged = pd.merge(gb_ratios, gb_ratios_lev, on='comp_type', how='inner')

In [63]:
gb_ratios_merged

           profitability_ratio  leverage_ratio
comp_type
fmcg                  0.514396        2.997896
real_est              0.534848        5.692041
tech                  0.572062        1.777448

In [67]:
ratios.groupby('comp_type').corr()

                               leverage_ratio  profitability_ratio
comp_type
fmcg      leverage_ratio             1.000000             0.269152
          profitability_ratio        0.269152             1.000000
real_est  leverage_ratio             1.000000             0.495253
          profitability_ratio        0.495253             1.000000
tech      leverage_ratio             1.000000            -0.707978
          profitability_ratio       -0.707978             1.000000